@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
  @apply rounded-md py-2 px-3 text-xs font-bold cursor-pointer tracking-wider transition ease-out duration-500;
}

.social-icons {
  @apply cursor-pointer transition ease-out duration-500 hover:text-gray-400;
}

body {
  background: rgb(31, 91, 134);
  height: 100%;
  letter-spacing: 2px;
}

.header {
  background: rgb(31, 91, 134);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.footer {
  background: rgb(31, 91, 134);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
}

.social {
  /* transition: 0.3s ease; */
  color: white;
  /* background-color: #d6d6d6; */
  /* border-radius: 60px;
  padding: 6px;
  cursor: pointer; */
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 20px 30px 20px;
  background: #edf2fb;
  border-radius: 10px;
  text-align: center;
}
.modalButton {
  margin-left: 320px;
}
.modal p {
  margin-top: 20px;
  color: rgb(31, 91, 134);
  font-weight: bold;
}
